      <div class="row">
        <div class="col-6">

          <app-dona [etiqueta]="getLabels" [title]="'Sales'" [data]="data1"></app-dona>

        </div>

        <div class="col-6">

          <app-dona [etiqueta]="getLabels2" [title]="'Signos vitales'"></app-dona>

        </div>

        <div class="col-6">

          <app-dona [etiqueta]="getLabels2" ></app-dona>

        </div>

        <div class="col-12">
        <!-- TODO: crear una tabla dinamica -->
        <!-- Como un componente -->
        </div>


      </div>
